asgiref
boto3
botocore
certifi
cffi
chardet
cryptography
defusedxml
Django
django-allauth
django-cors-headers
django-filter
django-storages
djangorestframework
djangorestframework-simplejwt
environ
gunicorn
heroku
idna
jmespath
Markdown
oauthlib
Pillow
pycparser
PyJWT
python-dateutil
python-decouple
python3-openid
pytz
requests
requests-oauthlib
s3transfer
six
sqlparse
urllib3
whitenoise
