{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewreport" content="width=device-width, initial-scale=1.0">
	<title>
		About Us
	</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="{% static 'ca/css/about.css' %}">
</head>
<body>
    <div class="banner">
	{% comment %} <img src="{% static 'ca/css/Ac.jpg' %}"</img> {% endcomment %}
    </div>
	
</body>
</html>